<div class="container">
    <div class="wrapper wrapper-ht">
        <div class="title"><span>Reset Password</span></div>
        <form (ngSubmit)="setPassword()">
            <div class="row">
                
                <i class="fas fa-user"></i>
                <input type="text" class="username" id="username" name="username" [(ngModel)]="username"
                    placeholder="username" required>
            </div>
            <div class="row">
                
                <i class="fas fa-lock"></i>
                <input type="password" class="newPassword" id="newPassword" name="newPassword" [(ngModel)]="newPassword"
                    placeholder="New Password" required>
            </div>
            <div class="row">
            
                <i class="fas fa-lock"></i>
                <input type="password" class="retypePassword" id="retypePassword" name="retypePassword" [(ngModel)]="retypePassword" placeholder="Retype Password"
                    required>
            </div>
            <div class="row button">
                <input type="submit" value="Set New Password">
            </div>
        </form>
    </div>
</div>